/* Estilos para móviles por defecto */
body {
  background-color: lightgreen;
}

/*Estilos para tabletas */
@media screen and (min-width: 768px) {
  body {
    background-color: lightblue;
  }
}

/* Estilos para desktop  */
@media screen and (min-width: 1024px) {
  body {
    background-color: lightcoral;
  }
}
