.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: montserrat;
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
  list-style: none;
}
header {
  background-image: url(../images/Torrenostra_20251028_072654.jpg);

  height: 50vh;
}
.logo img {
  height: 150px;
  border-radius: 50%;
}
header .moto {
  position: absolute;
  right: 20px;
  top: 40px;
  color: white;
  font-size: 18px;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 80%;
  margin: auto;
}
nav ul {
  display: flex;
}
header nav {
  justify-content: space-evenly;
}
nav ul li {
  list-style-type: none;
}
header nav ul li {
  padding: 10px;
  margin: 0 10px;
}
ul a {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border-radius: 10%;
}
#home {
  display: flex;
}
.sideSection {
  flex: 1;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  left: 0;
  background-color: rgb(34, 33, 33, 0.2);
}
.sideSection a {
  position: relative;
  padding: 10px 20px;
}
.mainSection {
  flex: 6;
  margin-left: 50px;
}
hr {
  border-bottom: 2px solid black;
}
h1 {
  margin-top: 15px;
  font-family: ubuntu;
  text-align: center;
  color: rgb(17, 17, 75);
}
.gallery {
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  max-width: 900px;
  margin: auto; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 10px;
  margin: auto;
}
.gItem {
  /* flex: 1 1 calc(25%-10px);
  max-width: calc(25%-10px);
  overflow: hidden;
  border-radius: 3%; */
  overflow: hidden;
  border-radius: 3%;
  transition: transform 0.3s ease-in-out;
  box-shadow: 0 4px 6px rbga(0, 0, 0, 0.3);
}
.gallery img {
  width: 100%;
  height: auto;
  display: block;
}
iframe {
  display: block;
  margin: 0 auto;
}
.videos {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.video {
  border-radius: 3%;
  border: 1px solid olive;
}
.video iframe {
  margin: 20px;
  border-radius: 3%;
}

h2,
h3 {
  text-align: center;
  margin: 20px;
  right: 50%;
}

footer {
  background-color: bisque;
}
footer h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 400;
}
